body{
  background-color: #000;
}
.divider{
  background-color: #eee;
}
#intro{
  background-image: url(../img/intro.jpg);
  background-size: cover;
  height: 400px;
  opacity: 0.8;
}
.mask{
  opacity: 1;
  margin-top: 100px;
}
@media(min-width:576px){
  #intro{
    height: 600px;
  }
  .mask{
    margin-top: 200px;
  }
}
#book{
  background-image: url(../img/book.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  line-height: 400px;
}
#book button{
  padding-left: auto;
}
.team{
  margin-bottom: 30px;
}
